/* Reset defaults */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Use 100% instead of 100vh to avoid mobile quirks */
    height: 100%; /* Ensure it takes full height */
}

header, footer {
    flex-shrink: 0; /* Prevent Header/footer from shrinking */
}

.sellerPage_block {
    background-color: #E9D6C7;
    padding: 20px;
    flex: 1; /* Fills only the remaining space */
    overflow-y: auto; /* Allow scrolling within this block if content overflows */
}

.orders {
    width: 80%;
    margin: 30px auto;
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders h2 {
    color: #4E3629;
}

button {
    background-color: #4E3629;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.orders_addresses {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.orders_address {
    color: #E9D6C7;
    width: 200px;
    height: 50px;
    padding: 5px;
}

@media (max-width: 576px) {
    .sellerPage_block {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .orders_addresses {
        align-items: center;
    }
}