
.ReportPage {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E9D6C7;
}

.ReportPage-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 100%;
    justify-content: space-around;

}

.ReportPage-section-block {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    text-align: center;
}



.ReportPage-section-block-title {
    text-align: center;
}



@media (max-width: 768px) {
    .ReportPage-section {
        flex-direction: column;
        padding: 0 10px;
        row-gap: 30px;
    }

    .ReportPage-section-block {
        padding: 20px;
    }

    .report-form {
        margin-top: 20px;
    }

    .mobile-toggle-button {
        display: block;
    }
}
