.sellerCreatePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background: #E0E5EC;
}

.input-group {
    display: flex;
    flex-direction: column;
}

h1, h3 {
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: #4E3629;
}
h1 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

.subtitleInput {
    text-align: left;
    align-self: flex-start;
    width: 100%;
    margin-left: 40px; /* если что-то сдвинуто */
    margin-top: 20px; /* для отступа сверху */
}


input {
    width: 520px;
    height: 34px;
    border-radius: 100px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #4E3629;
}


label{
    font-family: Inter, sans-serif;

}

.submit-btn {
    margin: 20px 0;
}