.MainInstaller__block {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
}


.MainInstallerPage__table-calendar-block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;

}