.MainInstallerPage__block {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}




.MainInstallerPage__table-calendar-block {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;

}

.MainInstallerPage__calendar-dateTable-block{
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
}

