.orders {
    width: 80%;
    margin: 30px auto;
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.sellerPage_block {
    background-color: #C0A28E;
}

.orders h2 {
    color: #4E3629;
}
button {
    background-color: #4E3629;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}