


.custom-calendar .calendar-day.closed {
    background-color: #ff0000 !important;
    color: #ffffff;
}

.custom-calendar .calendar-day.closed .availability {
    color: #ffffff;
}

.custom-calendar .calendar-day.selected {
    background-color: #007bff !important;
    color: #fff;
}

.custom-calendar .calendar-day.today {
    border: 2px solid #28a745;
}

.custom-calendar .calendar-day.past {
    background-color: #d3d3d3 !important; /* светло-серый фон */
    color: #888888; /* тусклый текст */
    cursor: not-allowed !important;
}

.custom-calendar .calendar-day.past .availability {
    display: none; /* скрыть инфу о дверях */
}



.custom-calendar .calendar-day.closed-selected {
    background-color: #28a745 !important; /* зелёный */
    color: #fff;
    cursor: pointer;
}

.custom-calendar .calendar-day.closed-selected .availability {
    color: #fff;
}

.calendar-day.closedNotInstaller {
    color: #888888; /* тусклый текст */
    background-color: #d3d3d3;
    cursor: not-allowed !important;
}


/* Жёлтый фон для дней через 2–3 дня */
.calendar-day.highlight-2-3-days {
    background-color: #fff9c4 !important; /* Светло-жёлтый */
    border: 1px solid #ffd54f;
}