


.custom-calendar .calendar-day.closed {
    background-color: #ff0000 !important;
    color: #ffffff;
}

.custom-calendar .calendar-day.closed .availability {
    color: #ffffff;
}

.custom-calendar .calendar-day.selected {
    background-color: #007bff !important;
    border: none;
    color: #fff;
}

.custom-calendar .calendar-day.today {
    border: 2px solid #28a745;
}

.custom-calendar .calendar-day.past {
    background-color: #d3d3d3 !important;
    color: #888888;
    cursor: not-allowed !important;
}

.custom-calendar .calendar-day.past .availability {
    display: none;
}



.custom-calendar .calendar-day.closed-selected {
    background-color: #28a745 !important;
    color: #fff;
    cursor: pointer;
}

.custom-calendar .calendar-day.closed-selected .availability {
    color: #fff;
}

.calendar-day.closedNotInstaller {
    color: #888888;
    background-color: #d3d3d3;
    cursor: not-allowed !important;
}

.unassigned-tomorrow {
    border: 1px solid #9f1212 !important;
    background-color: #de0f0f !important;
    color: white !important;
}

.highlight-2-3-days {
    background-color: #ccbb2a !important;
    border: 1px solid #ffd54f !important;
    color: white !important;
}

