

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9D6C7;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 100%;
    max-width: 400px; /* Ограничиваем ширину */
    padding: 20px;
    background: #e0e5ec; /* Фон формы тот же цвет, что и фон страницы */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.loginTitle {
    font-size: 32px;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}
.checkbox_div {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.checkbox {
    width: 17px;
    height: 17px;
}
.p_login{
    margin-top: 2px;
}

.button-login {
    background-color: #e0e5ec; /* Тот же цвет фона */
    color: black;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px white;
}

.button-login:hover {
    background-color: #cbd2d9; /* Чуть более темный оттенок */
}

.button-login:active {
    background-color: #b3bcc8; /* Еще более темный оттенок */
}

@media (max-width: 576px) {
    .login-section {
        width: 100%;
        max-width: 576px;
        height: 100%;
    }

    h1 {
        font-size: 38px;
    }

    .shadows-input {
        font-size: 16px;
        height: 40px;
    }
    .p_login{
        font-size: 20px;
    }
    .button-login {
        width: 130px;
        height: 60px;
        font-size: 24px;
    }
}


