.mainInstallerTable-select {
    border: 1px solid black;
    cursor: pointer;
    outline: none;
}

.mainInstallerTable-comment {
    border: 1px solid black;
    height: 25px;
    outline: none;
    padding-left: 3px;
}

.mainInstallerTable-btn {
    width: 100px;
    height: 39px;
    background-color: #4E3629;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    cursor: pointer!important;
    transition: 0.3s;
}

.mainInstallerTable-btn:hover {
    transition: 0.3s;
    background-color: #E9D6C7;
    color: #4E3629;

}