footer {
    background-color: #4E3629;
    color: #E9D6C7;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Pushes footer to the bottom of the flex container */
    position: absolute;
    bottom: 0;
}

footer a {
    color: #C0A28E;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}

.social-links {
    margin-top: 10px;
}

@media (max-width: 576px) {
    footer {
        padding: 15px;
        font-size: 14px;
    }

    footer a {
        margin: 0 5px;
    }
}