.popup_adaptive {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    max-height: 100%;
    border-radius: 100%;
    background-color: #4E3629;
    border: none;
    cursor: pointer;
    row-gap: 10px;
    transform: translateY(-50%);
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.popup_line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 2px;
    background-color: white;
    border: none;
    display: block;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Состояние бургера (по умолчанию) */
.popup_adaptive:not(.active) .popup_line:nth-child(1) {
    transform: translate(-50%, -12px) rotate(0deg);
}

.popup_adaptive:not(.active) .popup_line:nth-child(2) {
    transform: translate(-50%, -50%) rotate(0deg);
}

.popup_adaptive:not(.active) .popup_line:nth-child(3) {
    transform: translate(-50%, 10px) rotate(0deg);
}

/* Состояние креста */
.popup_adaptive.active .popup_line:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup_adaptive.active .popup_line:nth-child(2) {
    opacity: 0;
    transform: translate(-50%, -50%) scaleX(0);
}

.popup_adaptive.active .popup_line:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.popup_navbar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #4E3629;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.popup_navbar.active {
    opacity: 1;
    visibility: visible;
}

@media(max-width: 576px) {
    .popup_adaptive {
        display: flex;
    }
}


@media screen and (min-width: 576px) {
.popup_navbar{
    display: none;
}
}