
.mainInstallerTables-FullBlock{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.mainInstallerTables-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    flex: 1 0 auto;
}
.mainInstallerTable {
    width: 100%; /* Changed from 100vh to 100% to fit container */
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.mainInstallerTable th,
.mainInstallerTable td {
    padding: 14px;
    text-align: left;
    border: 1px solid #C0A28E;
    min-width: 72px;
}

.mainInstallerTable th {
    background-color: #4E3629;
    color: #E9D6C7;
    font-weight: bold;
    font-size: 14px;
    min-width: 102px;
}

.mainInstallerTable td {
    color: #4E3629;
    font-size: 14px;
}

.mainInstallerTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mainInstallerTable tr:hover {
    background-color: #E9D6C7;
}

.pagination-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.pagination-button {
    background-color: #4E3629;
    color: rgb(233, 214, 199);
}

.pagination-button:hover:not(:disabled) {
    background-color: #3a281f;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.pagination-info {
    font-size: 16px;
    color: #4E3629;
}


.MainInstallerPage__calendar-dateTable-block {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.table-dates th,
.table-dates td
{
    background: white;
    padding: 6px;
    text-align: left;
    min-width: 200px;
}



.buttons-calendar {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.MainInstallerPage__calendar-btns {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.MainInstallerPage__btns-block {
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

.Calendar-Button-MainInstaller {
    background-color: transparent;
    border: 1px black solid;
    border-radius: 0;
    height: 47px;
    width: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainInstallerTable select {
    width: 100%;
    max-width: 300px; /* Ограничиваем ширину, чтобы длинный текст не ломал таблицу */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainInstallerTable select option {
    white-space: normal; /* Позволяем тексту в опциях переноситься */
}
.ChangeDoorsLimit-trigger {
    position: relative;
    display: inline-block;
}