

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #E9D6C7;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    min-height: calc(100vh - 100px);
}

