.mainInstallerTables-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.mainInstallerTable {
    width: 100%; /* Changed from 100vh to 100% to fit container */
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.mainInstallerTable th,
.mainInstallerTable td {
    padding: 14px;
    text-align: left;
    border: 1px solid #C0A28E;
    min-width: 72px;
}

.mainInstallerTable th {
    background-color: #4E3629;
    color: #E9D6C7;
    font-weight: bold;
    font-size: 14px;
    min-width: 102px;
}

.mainInstallerTable td {
    color: #4E3629;
    font-size: 14px;
}

.mainInstallerTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mainInstallerTable tr:hover {
    background-color: #E9D6C7;
}

.pagination-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.pagination-button {
    background-color: #4E3629;
    color: rgb(233, 214, 199);
}

.pagination-button:hover:not(:disabled) {
    background-color: #3a281f;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.pagination-info {
    font-size: 16px;
    color: #4E3629;
}


.MainInstallerPage__calendar-dateTable-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}