

.orders-mobile {
    display: none;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid #000;
}

.orders-mobile-address {
    color: white;
    background-color: #4E3629;
    width: 100%;
    text-align: center;
}
.orders-mobile-info-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #D9D9D9;
}

.orders-mobile-info {
    border-bottom: 0.5px solid #808080;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4E3629;
    font-size: 16px;
    padding: 16px;

}

.orders-mobile-info-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    padding: 16px;

}

.action-buttons-mobile {
    display: flex;
    column-gap: 1px;
    width: 100%;
    height: 100%;
    min-height: 60px;
}

.buttonAction {
    width: 50%;
    border-radius: 0;
}


@media (max-width: 1102px) {
    .table-container {
        display: none;
    }
    .orders-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .orders-mobile-info-block {

    }

    .orders-mobile-info {

    }
}