.admin-panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9D6C7;
}

.AdminPage {
    flex: 1;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.AdminPage h2 {
    text-align: center;
    color: #4E3629;
    margin-bottom: 20px;
    font-size: 24px;
}

.table-container-admin {
    overflow-x: auto;
    margin-bottom: 20px;
    width: 100%;
}

.orders-table-admin {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}


.retry-button {
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.InputBlock {
    display: flex;
    column-gap: 5px;
    margin-bottom: 16px;
}

.cleanInputSvg {
    background-color: white;
    border: black 1px solid;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease-in-out;
}
.cleanInputSvg:hover {
    background-color: black;
    fill: white;
    transition: 0.6s ease-in-out;
}


.inputFind {
    outline: none;
}
