.ChangeDoorsLimit {
    position: absolute;
    top: 0;              /* или top: 100%, если надо под кнопкой */
    right: 100%;         /* это сдвинет блок полностью влево от кнопки */
    margin-right: 16px;  /* отступ от кнопки */
    z-index: 100;
    background: white;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.ChangeDoorsLimit-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ChangeDoorLimits-inputsBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ChangeDoorsLimit-btn {
    width: 50px;
    height: 30px;
    cursor: pointer;
}
