.ChangeDoorsLimit {
    display: flex;
    flex-direction: column;
    background: #e0e5ec;
    border-radius: 16px;
    margin: 20px;
    position: relative;
    width: 320px;
    height: 175px;
}


.ChangeDoorsLimit-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.ChangeDoorLimits-inputsBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ChangeDoorsLimit-btn {
    width: 50px;
    height: 30px;
    cursor: pointer;
}