* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #E9D6C7;

}

.shadows-input {
  background: #e0e5ec; /* Тот же цвет фона */
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px white;
  border: none;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
}

.shadows-input:focus {
  outline: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15), inset -5px -5px 10px white;
}