html {
  margin: 0;
  padding: 0;
  height: 100%;
  scrollbar-width: thin; !important
  scrollbar-color: #4E3629 #f1f1f1; !important
}

::-webkit-scrollbar {
  width: 8px; /* Уменьшено с 12px до 8px */ !important;
}

::-webkit-scrollbar-track {
  background: #E9D6C7; !important
  border-radius: 10px; !important
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); !important
}

::-webkit-scrollbar-thumb {
  background: #4E3629; !important
  border-radius: 10px; !important
  border: 2px solid #f1f1f1; !important
  transition: background 0.3s ease; !important
}

::-webkit-scrollbar-thumb:hover {
  background: #35261b; !important
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #E9D6C7; /* Фон страницы */
}

/* Корневой контейнер */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Полная высота viewport */
}

/* Хедер и футер */
header, footer {
  flex-shrink: 0; /* Не сжимаются */
}

/* Основной контент */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Занимает доступное пространство */
  background-color: #E9D6C7;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

/* Стили футера */
footer {
  background-color: #4E3629;
  color: #E9D6C7;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

footer a {
  color: #C0A28E;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: white;
}

.social-links {
  margin-top: 10px;
}

/* Стили для инпута */
.shadows-input {
  background: #e0e5ec;
  border-radius: 20px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px white;
  border: none;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
}

.shadows-input:focus {
  outline: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15), inset -5px -5px 10px white;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
  .main {
    padding: 15px;
  }

  footer {
    padding: 15px;
    font-size: 14px;
  }

  footer a {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 10px;
  }

  footer {
    padding: 15px;
    font-size: 14px;
  }

  footer a {
    margin: 0 5px;
  }
}